<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>211289249677-uisc5ifijm8mokpu54oak25ho0b6v35n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.211289249677-uisc5ifijm8mokpu54oak25ho0b6v35n</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>211289249677-kqaghcatkcs3fob1v9m6794p2uf2rq9d.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDoF1deakYdcTGu97ItOzpYsXi0DEW4ptQ</string>
	<key>GCM_SENDER_ID</key>
	<string>211289249677</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sombreroinfotech.aspAsia</string>
	<key>PROJECT_ID</key>
	<string>aspiration-asia-5410e</string>
	<key>STORAGE_BUCKET</key>
	<string>aspiration-asia-5410e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:211289249677:ios:0e7027df297740e654cfc4</string>
</dict>
</plist>